# MERGING DATA INTO ONE DATASET WITH BASIC ANALYSIS OF *'Contract'* COLUMN

In [1]:
import pandas as pd
df_churn= pd.read_csv('https://raw.githubusercontent.com/dijendersaini/Customer-Churn-Model/master/churn_data.csv')
df_customer=pd.read_csv('https://raw.githubusercontent.com/dijendersaini/Customer-Churn-Model/master/customer_data.csv')
df_internet=pd.read_csv('https://raw.githubusercontent.com/dijendersaini/Customer-Churn-Model/master/internet_data.csv')

In [2]:
df_churn.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df_customer.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [4]:
df_internet.head()

,customerID,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,No,Fiber optic,No,No,No,No,No,No

In [5]:
print(df_churn.columns)
print(df_customer.columns)
print(df_internet.columns)

Index(['customerID', 'tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')
Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents'], dtype='object')
Index(['customerID', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies'],
      dtype='object')

In [6]:
df_customer.columns = df_customer.columns.str.replace('customerid', 'customerID')
df_merged = df_churn.merge(df_customer, on='customerID').merge(df_internet, on='customerID')
print(df_merged.head())

   customerID  tenure PhoneService        Contract PaperlessBilling  \
0  7590-VHVEG       1           No  Month-to-month              Yes
1  5575-GNVDE      34          Yes        One year               No
2  3668-QPYBK       2          Yes  Month-to-month              Yes
3  7795-CFOCW      45           No        One year               No
4  9237-HQITU       2          Yes  Month-to-month              Yes

               PaymentMethod  MonthlyCharges TotalCharges Churn  gender  ...  \
0           Electronic check           29.85        29.85    No  Female  ...
1               Mailed check           56.95       1889.5    No    Male  ...
2               Mailed check           53.85       108.15   Yes    Male  ...
3  Bank transfer (automatic)           42.30      1840.75    No    Male  ...
4           Electronic check           70.70       151.65   Yes  Female  ...

   Partner Dependents     MultipleLines InternetService OnlineSecurity  \
0      Yes         No  No phone service             DSL             No
1       No         No                No             DSL            Yes
2       No         No                No             DSL            Yes
3       No         No  No phone service             DSL            Yes
4       No         No                No     Fiber optic             No

  OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies
0          Yes               No          No          No              No
1           No              Yes          No          No              No
2          Yes               No          No          No              No
3           No              Yes         Yes          No              No
4           No               No          No          No              No

[5 rows x 21 columns]

In [7]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   PhoneService      7043 non-null   object
 3   Contract          7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
 8   Churn             7043 non-null   object
 9   gender            7043 non-null   object
 10  SeniorCitizen     7043 non-null   int64
 11  Partner           7043 non-null   object
 12  Dependents        7043 non-null   object
 13  MultipleLines     7043 non-null   object
 14  InternetService   7043 non-null   object
 15  OnlineSecurity    7043 non-null   object
 16  OnlineBackup      7043 non-null   object
 17  DeviceProtection  7043 non-null   object
 18  TechSupport       7043 non-null   object
 19  StreamingTV       7043 non-null   object
 20  StreamingMovies   7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [8]:
churn = (df_merged['Churn'] == 'Yes').sum()

print("Number of Yes values in the 'Churn' column:", churn)

Number of Yes values in the 'Churn' column: 1869

In [9]:
df_merged['Contract'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [10]:
month = (df_merged['Contract'] == 'Month-to-month').sum()

print("Month-to-month contract:", month)

Month-to-month contract: 3875

In [11]:
one = (df_merged['Contract'] == 'One year').sum()

print("One year contract:", one)

One year contract: 1473

In [12]:
two = (df_merged['Contract'] == 'Two year').sum()

print("Two year contract:", two)

Two year contract: 1695

In [13]:
churn_month = ((df_merged['Churn'] == 'Yes') & (df_merged['Contract'] == 'Month-to-month')).sum()

print("Number of Yes values in Churn column with Month-to-month Contract types:", churn_month)
print("Participation of Month-to-month Contract in Churn with Yes values:", churn_month/churn)

Number of Yes values in Churn column with Month-to-month Contract types: 1655
Participation of Month-to-month Contract in Churn with Yes values: 0.8855002675227395

In [14]:
churn_one = ((df_merged['Churn'] == 'Yes') & (df_merged['Contract'] == 'One year')).sum()

print("Number of Yes values in Churn column with One year Contract types:", churn_one)
print("Participation of One year Contract in Churn with Yes values:", churn_one/churn)

Number of Yes values in Churn column with One year Contract types: 166
Participation of One year Contract in Churn with Yes values: 0.0888175494917068

In [15]:
churn_two = ((df_merged['Churn'] == 'Yes') & (df_merged['Contract'] == 'Two year')).sum()

print("Number of Yes values in Churn column with Two year Contract types:", churn_two)
print("Participation of Two year Contract in Churn with Yes values:", churn_two/churn)

Number of Yes values in Churn column with Two year Contract types: 48
Participation of Two year Contract in Churn with Yes values: 0.025682182985553772

In [16]:
df_merged.to_csv('data.csv', index=False)